dataSources:
  shardingmaster:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.testcontainers.jdbc.ContainerDatabaseDriver
    jdbcUrl: jdbc:tc:mysql:9.4.0-oraclelinux9:///master?TC_INITSCRIPT=schema.sql
  shardingslave0:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.testcontainers.jdbc.ContainerDatabaseDriver
    jdbcUrl: jdbc:tc:mysql:9.4.0-oraclelinux9:///slave1?TC_INITSCRIPT=schema.sql
  shardingslave1:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.testcontainers.jdbc.ContainerDatabaseDriver
    jdbcUrl: jdbc:tc:mysql:9.4.0-oraclelinux9:///slave2?TC_INITSCRIPT=schema.sql
rules:
  - !SHARDING
    tables:
      t_order:
        actualDataNodes: shardingmaster.t_order$->{0..1}
        tableStrategy:
          standard:
            shardingColumn: order_id
            shardingAlgorithmName: lingh_inline
        keyGenerateStrategy:
          column: order_id
          keyGeneratorName: lingh_snowflake
    shardingAlgorithms:
      lingh_inline:
        type: INLINE
        props:
          algorithm-expression: t_order$->{order_id % 2}
    keyGenerators:
      lingh_snowflake:
        type: SNOWFLAKE
        props:
          max-vibration-offset: 1
          max-tolerate-time-difference-milliseconds: 10
  - !READWRITE_SPLITTING
    dataSourceGroups:
      lingh_readwrite_data_sources:
        writeDataSourceName: shardingmaster
        readDataSourceNames:
          - shardingslave0
          - shardingslave1
        loadBalancerName: lingh_load_balance_algorithm
    loadBalancers:
      lingh_load_balance_algorithm:
        type: ROUND_ROBIN
